exportMethods(buildReports)
exportMethods(correctedIntensities)
exportMethods(cycles)
exportMethods(directions)
exportMethods(extractionMetrics)
exportMethods(flowcellLayout)
exportMethods(location)
exportMethods(pfBoxplot)
exportMethods(plotFWHM)
exportMethods(plotIntensity)
exportMethods(plotQGT30)
exportMethods(qualityHeatmap)
exportMethods(qualityMetrics)
exportMethods(reads)
exportMethods(run)
exportMethods(savR)
exportMethods(tileMetrics)
